*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(110, 110, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 5rem; */
}

main{
    width: 1200px;
    height: 660px;
    margin: 4rem auto;
    background-color: white;
}

header{
    height: 100px;
    border-bottom: 1px solid gray;
}

nav{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-symbol{
    display: inline-block;
    width: 30px ;
    height: 30px;
    background: rgb(110, 110, 232);
    border-radius: 50%;
    margin-top: .2rem;
    margin-right: .4rem;
}

.logo > span{
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    color: #393535;
}

.search > input{
    outline: none;
    border: none;
    border: 1px solid #393535;
    padding: .6rem 1rem;
}


.menu{
    display: flex;
    list-style: none;
}

.menu > li{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #393535;
}

/* Top Features */
.top-features{
    border: 1px solid red;
}