
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 1050px;
    min-height: 900px;
    margin: 4rem auto;
    background-color: white;
}

header{
    height: 100px;
    border-bottom: 1px solid #8B97A0;
}

nav{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-symbol{
    display: inline-block;
    width: 30px ;
    height: 30px;
    background: #2196F3;
    border-radius: 50%;
    margin-top: .2rem;
    margin-right: .4rem;
}

.logo > span{
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    color: #8B97A0;
}

.search{
    position: relative;
}

.search > input{
    outline: none;
    border: none;
    border: 1px solid #8B97A0;
    padding: .6rem 2rem;
}

.search > .search-btn{
    position: absolute;
    top: 9px;
    left: 9px;
    color:#8B97A0;
}


.menu{
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.menu > li{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #8B97A0;
    
}

.menu > li > p{
    display: inline-block;
    background-color: #E3F2FD;
    padding: 0 .4rem;
    border-radius: 2px;
    color: #2196F3;
}

.menu > li > .head-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}


.menu > li > .active{
    position: absolute;
    top: 0;
    right: 3px;
    background-color: rgb(28, 226, 28);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

/* Top Features */
.top-features{
    display: flex;
    justify-content: space-between;
    padding: 3rem
}

.top-feature-img-box > img{
    width: 280px;
    height: 300px;
    border-radius: 4px;
}


.top-feature-top{
    display: flex;
    gap: 1rem;
}

.top-feature-top > h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.top-feature-top > h1 > p{
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #2196F3;
    margin-top: 1rem;
}

.top-feature-top > p{
    margin-top: .7rem;
    margin-left: .5rem;
    color: #8B97A0;
}


.top-feature-center > p{
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: #8B97A0;
    margin-bottom: .6rem;
}


.top-feature-center > .rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: .5rem;
    margin-bottom: 2rem;
}


.top-feature-center > .rating > p{
    font-size: 1.6rem;
    font-weight: 700;
}

.star{
    color: #2196F3;
}

.star > .extra{
    color: #E3F2FD;
}


.top-feature-center > .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 2rem;
}


.top-feature-center > .btn-group > .msg{
    font-size: 1.2rem;
    color: #8B97A0;
}


.top-feature-center >.btn-group > .contact-btn{
    outline: none;
    padding: .5rem 1rem;
    background: #E3F2FD;
    color: #2196F3;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
}

.top-feature-center > .btn-group > .report{
    font-size: 1.2rem;
    color: #8B97A0;
}

.top-feature-bottom{
    border-bottom: 1px solid rgba(139, 151, 160, .3);
    margin-top: 3.9rem;
    display: flex;
    gap: 3rem;
}

.top-feature-bottom > p{
    font-size: 1.2rem;
    color: #8B97A0;
    padding-bottom: .3rem;
}

.top-feature-bottom > p:nth-last-child(1){
    border-bottom: 2px solid #2196F3;
}


/* Bottom features */
.bottom-features{
    padding:0 3rem 3rem 3rem;
    display: flex;
    gap: 6rem;
}


/* Bottom feature left */


.border-with-text {
    display: flex;
    align-items: center;
    gap: .4em;
    margin-bottom: 20px;
}

.border-with-text > p{
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: #8B97A0;
}


.border-with-text > .border{
    margin-top: .4rem;
    width: 100%;
    height: 1px;
    background-color: #8B97A0;
}


.bottom-feature-left > .city > .first{
    margin: 1rem 0;
    color: #8B97A0;
}

.city > .first > h2{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
}

.city > .first > h2 > button{
    outline: none;
    padding: 0 .5rem;
    border: none;
    background: #E3F2FD;
    color: #2196F3;
}

.city > .first > p{
    margin: .2rem 0;
}


.bottom-feature-left > .city > .second{
    margin: 1rem 0;
    color: #8B97A0;
}

.city > .second > h2{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.city > .second > h3{
    font-size: 1.2rem;
    margin-bottom: .6rem;
}

.city > .second > h2 > button{
    outline: none;
    padding: 0 .5rem;
    border: none;
    background: #E3F2FD;
    color: #2196F3;
}

.city > .second > p{
    margin: .2rem 0;
}

.skill-list{
    list-style: none;
    margin-top: -5px;
}

.skill-list > li{
    margin-bottom: .3rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #8B97A0;
}


/* Bottom feature Right */

.bottom-feature-right{
    color: #8B97A0;
}

.bottom-feature-right > p{
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: #8B97A0;
    margin-bottom: 1rem;
}

.contact-details{
    list-style: none;
}

.contact-details > .contact-item{
    margin-bottom: 1rem;
    display: flex;
    font-weight: 500;
}

.contact-details > .contact-item > .left{
    flex: 1;
}

.contact-details > .contact-item > .right{
    flex: 3;
}


.contact-details > .contact-item > span{
    font-size: 1rem ;
}

.contact-details > .contact-item > .blue-color{
    color: #2196F3;
}

.basic-info{
    list-style: none;
}

.basic-info > li{
    margin-bottom: 1rem;
    display: flex;
    gap: 4rem;
    font-weight: 500;
}